target/
src/main/resources/static/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.jar
*.war
*.ear
*.log

.DS_Store
.idea/
*.iws
*.iml
*.ipr

*.xml.versionsBackup
